body{
    background-color: #ecedee;
}

.message{
    margin: 10px;

}
.message .message-icon{
    float: left;
    width: 15%;
}
.message.message-icon img{
    width: 60%;
}
.message .message-content{
    position: relative;
    float: left;
    width: 70%;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    padding-right:5px ;
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow:  0 0 2px 2px rgba(0,0,0,.1);
    -webkit-box-shadow:  0 0 2px 2px rgba(0,0,0,.1);
}
.message .message-content div{
    float: left;
    width: 60%;
    font-size: .65rem;
    line-height: 1.3rem;
}
.message .message-content img {
    float: right;
    width: 37%;
    margin-left: 5px;
}
.triangle-left {
    display: block;
    position: absolute;
    top: 1rem;
    left: -.3rem;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 5px solid transparent;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: #f5f6f7;
}
footer ul{
    width: 95%;
    margin: 0 auto;
    height: 100%;
}
footer ul li{
    height: 100%;
    float: left;
    text-align: center;
}
footer ul li:nth-child(1){
    background: url("../images/icon01.jpg") no-repeat 80% center;
    background-size: 80%;
    width: 15%;
}
footer ul li:nth-child(2){
    width: 60%;
    height: 2rem;
    margin: .5rem 4.5%;
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 2rem;
}
footer ul li:nth-child(3){
    background: url("../images/icon02.jpg") no-repeat 80% center;
    background-size: 80%;
    width: 15%;
}
/*section{*/
    /*background-color: #ecedee;*/
    /*height: 100%;*/
/*}*/

